//$secondary-color: #FCB040;
//$primary-color: #3A53AB;
$primary-color: #4D394B;
$secondary-color: #4C9689;
$light-grey: #F7F8F9;
$dark-grey: #363A47;
$white: #FFFFFF;

html, body, #root {
    font: 20px "Century Gothic", Futura, sans-serif;
    color: $dark-grey;
    background-color: $primary-color;
    background-image: url(/res/egg-shell.png);
    height: 100%;
    margin: 0;
}

input[type="text"], textarea[type="text"] {
    font-size: 20px;
}

input[type="submit"] {
    font-size: 15px;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

/* CRMSite */
.crm-site {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    color: $light-grey;
    background: rgba(30,22,29,0.8);
    //box-shadow: 8px 8px 3px #443344;
    //border-bottom: 1px solid $dark-grey;
}

.header__left-side {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.header__center {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header__right-side {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.header__add-new-button-text {
    margin-right: 8px;
}

.header__add-new-contact, .header__add-new-company {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
    border: 2px solid $light-grey;
    border-radius: 5px;
}

.header__title {
    font: 60px;
    font-weight: bold;
}

.header__sign-up, .header__log-in {
    padding: 5px;
    margin-right: 20px;
    border: 2px solid $light-grey;
    border-radius: 5px;
}

/* FilterableCardList */
.filterable-card-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    padding: 30px;
    //padding-left: 50px;
    padding-top: 90px;
}

/* CardListSearchBar */
.search-bar {
    margin-bottom: 20px;
}

/* CardList */
.card-list {
    list-style-type: none;
}

/* Card */
.card {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: $light-grey;
    margin-bottom: 10px;
    //box-shadow: 10px 10px 5px #443344;
    align-items: stretch;
}

.card__info {
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 10px;
}

.card__status {
    display: flex;
    flex: 1;
    background-color: $secondary-color;
}

/* ContactForm */
.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $light-grey;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 60px;
    box-shadow: 8px 8px 2px #443344;
    overflow-y: scroll;
    //overflow-x: visible;
}

.form__title {
    display: flex;
    color: $dark-grey;
    align-self: center;
}

.form__element {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.form__element-label {
    display: flex;
    flex: 4;
    align-items: flex-start;
    justify-content: flex-start;
}

.form__element-fields {
    display: flex;
    flex-direction: column;
    flex: 13;
}

.form__element-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__star,
.form__star--filled {
    display: flex;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    margin-right: 5px;
}

.form__input,
.form__input--multiline,
.form__input--date,
.form__input--date-note {
    display: flex;
    flex: 9;
    align-items: stretch;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $primary-color
}

.form__input--date {
    justify-content: flex-end;
    border-bottom: 0px;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 24px;
    min-width: 24px;
    margin-left: 10px;
}

.form__button {
    display: flex;
    min-height: 24px;
    min-width: 24px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.form__submit {
    display: flex;
    align-self: flex-end;
    min-height: 45px;
    width: 150px;
    color: $secondary-color;
    font-weight: bold;
    background-color: inherit;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* React Dates */
$react-dates-color-primary: $primary-color;
$react-dates-color-secondary: $secondary-color;
$react-dates-color-focus: $secondary-color;
@import '../node_modules/react-dates/css/variables.scss';
@import '../node_modules/react-dates/css/styles.scss';
.SingleDatePicker__picker {
    overflow-x: visible;
}

.SingleDatePickerInput {
    background-color: $light-grey;
    border: 0px;
    border-bottom: 1px solid $primary-color
}
.SingleDatePickerInput__clear-date:focus,
.SingleDatePickerInput__clear-date--hover {
    background: $light-grey;
}
.DateInput {
    background: $light-grey;
    padding: 0px;
    font-size: 20px;
}
