$secondary-color: #FCB040;
$primary-color: #3A53AB;
$light-grey: #F7F8F9;
$dark-grey: #363A47;
$white: #FFFFFF;

html, body, #root {
    font: 20px "Century Gothic", Futura, sans-serif;
    color: $dark-grey;
    background-color: $primary-color;
    background-image: url(https://www.transparenttextures.com/patterns/egg-shell.png);
    height: 100%;
    margin: 0;
}

input[type="text"], textarea[type="text"] {
    font-size: 20px;
}

input[type="submit"] {
    font-size: 15px;
}

/* ContactManagement */
.contact-management {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    height: 100%;
}

/* FilterableContactCardList */
.filterable-contact-card-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    padding: 30px;
    padding-left: 50px;
}

/* ContactSearchBar */
.contact-search-bar {
    margin-bottom: 20px;
}

/* ContactCardList */
.contact-card-list {
    list-style-type: none;
}

/* ContactCard */
.contact-card {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: $light-grey;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #443344;
    align-items: stretch;
}

.contact-card-info {
    display: flex;
    flex: 3;
    padding: 10px;
}

.contact-card-status {
    display: flex;
    flex: 1;
    background-color: $secondary-color;
}

/* ContactForm */
.contact-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $light-grey;
    padding: 20px;
    padding-bottom: 40px;
    overflow-y: scroll;
}

.add-contact-form-title {
    display: flex;
    color: $dark-grey;
    align-self: center;
}

.add-contact-label-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.add-contact-label, .add-contact-field {
    display: flex;
}

.add-contact-label {
    flex: 4;
    align-items: flex-start;
}

.add-contact-field {
    flex: 9;
    align-items: stretch;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $secondary-color
}

.add-contact-array-fields {
    display: flex;
    flex: 9;
    flex-direction: column;
}

.add-contact-array-field-element {
    display: flex;
    flex-direction: row;
}

.add-contact-array-field {
}

.add-contact-array-field-button {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.add-contact-array-field-button-icon {
}

.add-contact-submit {
    display: flex;
    align-self: flex-end;
    min-height: 45px;
    width: 150px;
    color: $secondary-color;
    background-color: inherit;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* React Dates */
$react-dates-color-primary: $primary-color;
$react-dates-color-secondary: $secondary-color;
$react-dates-color-focus: $secondary-color;
@import '../node_modules/react-dates/css/variables.scss';
@import '../node_modules/react-dates/css/styles.scss';
.SingleDatePickerInput {
    background-color: $light-grey;
    border: 0px;
}
.SingleDatePickerInput__clear-date:focus,
.SingleDatePickerInput__clear-date--hover {
    background: $light-grey;
}
.DateInput {
    background: $light-grey;
    padding: 0px;
    font-size: 20px;
}
