body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

/* ContactManagement */
.contact-management {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/* FilterableContactCardList */
.filterable-contact-card-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

/* AddContactForm */
.add-contact-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.add-contact-label-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.add-contact-label, .add-contact-field {
    display: flex;
}

.add-contact-label {
    flex: 1;
    align-items: left;
}

.add-contact-field {
    flex: 3;
    align-items: stretch;
}

.add-contact-submit {
    display: flex;
    align-items: right;
    width: 100px;
}
